.apartment-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;

}

.apartment-image img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}


.title {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
}

.apartment-title h2 {
    color: #000;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    margin-bottom: 20px;

}

.apartment-tags {
    background-color: #FF6060;
    color: #FFF;
    margin-right: 10px;
    padding: 3px 20px 2px 20px;
    font-family: Montserrat;
    border-radius: 25px;
    font-weight: 500;
}

.apartment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.apartment-owner {
    display: flex;
    flex-direction: column;

}

.apartment-name-picture {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.apartment-name-picture img {
    border-radius: 100px;
    width: 64px;
    height: 64px;
    margin-left: 10px;
}

.apartment-name-picture p {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    width: 93px;
    height: 52px;
}

.rating {
    display: flex;
    justify-content: end;
    color: #FF6060;
    font-size: 22px;
}

.fa-star {
    margin-left: 5px;
}

.apartment-description {
    display: flex;
    flex-direction: row;
    gap: 76px;
    margin-top: 24px;
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .apartment-container {
        margin: 20px 20px;
    }

    .apartment-image img {
        height: 255px;
        border-radius: 25px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .apartment-header {
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-top: 0;
        font-size: 18px;
    }

    .apartment-title h2 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .apartment-tags {
        font-size: 10px;
        margin-right: 5px;
        padding: 5px;
    }

    .apartment-owner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .apartment-name-picture {
        order: 1;
    }

    .apartment-name-picture img {
        width: 32px;
        height: 32px;



    }

    .apartment-name-picture p {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 10px;
        height: 33px;
        width: 40px;
    }

    .rating {
        margin-top: 24px;
        margin-right: 140px;
        font-size: 18px;
    }

    .apartment-description {

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}