.carousel {
    position: relative;
}

.fa-chevron-left {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 4rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-counter {
    position: absolute;
    color: white;
    bottom: 0;
    right: 50%;

}