.carousel {
    position: relative;
}

.fa-chevron-left {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 4rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-counter {
    position: absolute;
    color: white;
    bottom: 0;
    right: 50%;

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    .fa-chevron-left {
        font-size: 24px;
    }

    .fa-chevron-right {
        font-size: 24px;
    }

    .carousel-counter {
        display: none;
    }
}