footer {
    background-color: black;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin-top: 38px;

}

.footer-img {
    width: 122px;
}

.footer-p {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 28px;
}